body {
	line-height: 1.7;
}
/***********************
Typography
************************/
h1,h2,h3 {
	font-family: 'Fjalla One', sans-serif,helvetica;
}
p {
	font-family: 'Cantarell', sans-serif,helvetica;
	
}
.section-headline h2  {
	border-bottom: 2px solid #3bb34a;
	margin-top: 30px;
	font-size: 3em;
}
.contacts h2{
	font-size: 2.5em;
}
.services .section-headline h2 {
	margin-bottom: 50px;
}
span.green-text {
	color: #3bb34a;
}
.section-text h3 {
	font-size: 2em;
	display: inline-block;
	border-right: 3px solid #3bb34a;
	border-left: 3px solid #3bb34a;
	padding: 0 4px;
}
.section-text p {
	font-size: 1.105em;
	padding-top: 10px;
	color: #8b948e;
}
/***********************
Images
************************/
section img {
	max-width: 100%;
}
.about img {
	box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.2);
	height: 500px;
	border-radius: 4px;
}
.contacts img {
	width: 550px;
	box-shadow:  20px 20px 20px 10px rgba(0,0,0,0.2);
	margin-top: 10px;
	border-radius: 4px;
}

/***********************
Navbar
************************/
.navbar {
	border-radius: 0;
	background-color:transparent;
	border: none;	
}
.navabr-brand img {
	width: 150px;
	margin: 20px 50px;

}

/***********************
Jumbotron
************************/
.jumbotron {
	background: linear-gradient( rgba(59, 179, 74, 0.1), 
		rgba(59, 179, 74, 0.35) ),url('../Images/pexels-photo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
	background-position: 50% 40%;
	padding-top: 0;
	margin-bottom: 0;
	height: 650px;
}
.jumbotron header {
	margin-left: 40px;
	margin-top: 140px;
	color: #f9fcfa;
	position: relative;
	border-bottom: 2px solid;

}
.jumbotron h1 {
	font-weight: normal;
	font-size: 3.5em;
}
.jumbotron p {
	font-weight: 400;
}
/***********************
Sections
************************/
.about {
	padding: 100px 0; 
}
.services .row {
	margin-bottom: 80px;
}
.contacts {
	padding-top: 20px;
	padding-bottom: 40px;
	background: linear-gradient( rgba(59, 179, 74, 0.6), 
		rgba(59, 179, 74, 0.6) ),url('../Images/pexels-photo.jpg');
	background-repeat: no-repeat;
	background-position: 50% 40%;
	text-align: center;
	color: #fff;
}



